<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="about-pic"></div>
    <p>
      I was born and raised in New Paltz, NY(pictured above).  After high school I went on to go to study
      Computer Science and Applied Mathematics at SUNY Albany.  As a junior in college I found a great internship
      opportunity at Jahnel Group. This was an extremely fulfilling experience and I took a job offer there after
      I graduated.  Since then I have been working as a software developer on a few different projects and couldn't
      be happier with the career path I have chosen!
    </p>
  </mat-card-content>

</mat-card>
