<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="toggleElement('home-component')">Home</a>
      <a mat-list-item (click)="toggleElement('about-component')">About</a>
      <a mat-list-item (click)="toggleElement('certifications-component')">Certifications</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ian Ballard</span>
      <app-login></app-login>
    </mat-toolbar>

    <div class="main-container">
      <div class="component-container">
        <app-home id="home-component" class="component"></app-home>
        <app-about id="about-component" class="component" style="display:none"></app-about>
        <app-certifications id="certifications-component" class="component" style="display:none"></app-certifications>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <a mat-raised-button href="https://www.linkedin.com/in/ian-ballard-85470785/">LinkedIn</a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
