.sidenav-container {
  flex: 1 1 auto;
  min-height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.home-container {
  padding: 10px;
  text-align: center;
}

.main-container {
  padding: 10px;
  display: flex;
  flex-flow: column;
  margin-bottom: 100px;
}

.component-container {
  flex: 0 1 auto;

}


.footer {
  flex: 0 1 40px;
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #3f51b5;
  color: white;
  text-align: left;
}

.footer-content{
  position: relative;
  width: 99%;
  margin: 0 auto;
}
