<div class="btn-container">
  <button *ngIf="user?.roles?.admin" (click)="onAdd(content)" mat-raised-button color="primary" class="add-button">Add</button>
</div>
  <mat-accordion>
  <mat-expansion-panel *ngFor="let certification of certificationList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{certification.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{certification.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="image-container" [ngStyle]="{'background-image': 'url(' + certification.location + ')'}"></div>
    <a *ngIf="user?.roles?.admin" class="btn" (click)="onEdit(certification, content)">
      <i class="fa fa-pencil-square-o"></i>
    </a>
    <a *ngIf="user?.roles?.admin" class="btn" (click)="onDelete(certification.$key)">
      <i class="fa fa-trash-o"></i>
    </a>
  </mat-expansion-panel>

</mat-accordion>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Certification</h4>
    <button id="closeBtn" type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #certificationForm="ngForm" (ngSubmit)="onSubmit(certificationForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="certificationService.selectedCertification.$key">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="certificationService.selectedCertification.name" placeholder="Name" required>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="description" #name="ngModel" [(ngModel)]="certificationService.selectedCertification.description" placeholder="Description" required>
      </div>
      <div class="form-group">
        <label>File Location</label>
        <input class="form-control" name="location" #name="ngModel" [(ngModel)]="certificationService.selectedCertification.location" placeholder="File Location">
      </div>
      <div class="form-group">
        <button class="btn btn-default secondary-dark" type="submit" [disabled]="!certificationForm.valid">
          <i class="fa fa-floppy-o"></i>
          Submit
        </button>
        <button class="btn btn-default secondary-dark" type="button" (click)="resetForm(certificationForm)">
          <i class="fa fa-repeat"></i>
          Reset
        </button>
      </div>
    </form>
  </div>
</ng-template>

