<div class="login-container">
  <div *ngIf="!user">
    <button mat-button type="button" (click)="tryGoogleLogin()">
      Login
    </button>
  </div>
  <div *ngIf="user">
    <span class="user-info">Logged in as {{user.email}} &nbsp; &nbsp; |</span>
    <button mat-button type="button" (click)="authService.doLogout()">
      Log Out
    </button>
  </div>
</div>
