<h2 style="display: inline">Blog Posts</h2>
<div class="btn-container">
  <button *ngIf="user?.roles?.admin" (click)="onAdd(content)" mat-raised-button color="primary" class="add-button">Add</button>
</div>
<mat-card *ngFor="let blog of blogList" style="margin-top: 30px">
  <mat-card-content>
      <h4>{{blog.date}}</h4>
    <div>
      {{blog.content}}
    </div>
  </mat-card-content>
</mat-card>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Blog Post</h4>
    <button id="closeBtn" type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="blogService.selectedBlog.$key">
      <div class="form-group">
        <label>Content</label>
        <input class="form-control" name="content" #name="ngModel" [(ngModel)]="blogService.selectedBlog.content" placeholder="Description" required>
      </div>
      <div class="form-group">
        <button class="btn btn-default secondary-dark" type="submit" [disabled]="!form.valid">
          <i class="fa fa-floppy-o"></i>
          Submit
        </button>
        <button class="btn btn-default secondary-dark" type="button" (click)="resetForm(form)">
          <i class="fa fa-repeat"></i>
          Reset
        </button>
      </div>
    </form>
  </div>
</ng-template>

