
.primary-main {
  background-color: #00bbd3;
}

.primary-light {
  background-color: #62eeff;
}

.primary-dark {
  background-color: #008ba2;
  color: #fff;
}

.secondary-main {
  background-color: #ba68c8;
}

.secondary-light {
  background-color: #ee98fb;
}

.secondary-dark {
  background-color: #883997;
  color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

input.ng-invalid.ng-dirty{
  border: 1px solid red;
}

button:hover, a.btn:hover{
  cursor: pointer;
}

.headshot-pic {
  background-image: url("assets/images/misc/headshot.jfif");
  height: 200px;
  width: 200px;
  background-size: contain;
  margin: 0 auto 30px auto;
  border: 4px solid #3f51b5;
}

.about-pic {
  background-image: url("assets/images/misc/mohonk.jpg");
  background-size: cover;
  height: 250px;
  margin: 0 auto 30px auto;
}

html{
  overflow-x: hidden;
  height: 100%;
}

body {
  /*position: relative;*/
  margin: 0;
  min-height: 100%;
}
