<div>
  <mat-card>
    <mat-card-content>
      <div class="headshot-pic"></div>
      <p>
        I'm a software developer living in the New York capital region. My line of work
        is also my favorite hobby! Over the years I have found myself spending more time exploring
        languages and frameworks that I can directly apply not only to my job, but my personal work as well.
        As an extremely motivated individual I tend to set the bar high for myself because there's really no
        feeling quite like giving something your all and see it come to fruition.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top:30px">
    <app-blog></app-blog>
  </mat-card>
</div>




